@model IEnumerable<Tienda.Models.Cliente>

@{
    ViewBag.Title = "Index";
}


<table class="table table-dark mt-5">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroTelefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numeroCompras)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroTelefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroCompras)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.clienteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.clienteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.clienteID })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
